[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
[checkout]
	defaultRemote = origin
[push]
	default = current

[merge]
	tool = nvimdiff
	keepBackup = false

[mergetool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE" 
	keepBackup = false

[include]
	path = ~/.gitconfig.local
